@use "../abstracts/variables" as variable;

* {
    box-sizing: border-box;
};

body {
    font-family: variable.$font-primary;
    margin: 0;
    color:white;
};

section {
    margin-bottom: 3rem;
};

span {
    font-family: variable.$font-extrabold;
};

h1 {
    font-family: variable.$font-title-1-2;
    margin-bottom: 0;
    font-size: 60px
};

h2 {
    font-family: variable.$font-primary;
    font-size: 30px;
};

h3 {
    font-family: variable.$font-h3;
    color: variable.$color-black;
    font-size: 1.8rem;
};

ul {
    list-style: none;
    padding-left: 0;
};

a{
    text-decoration: none;
    color: white;
};

h4 {
    font-size: 1.4rem;
    text-transform: uppercase;
};

img {
    object-fit: cover;
};
p {
    color: variable.$color-black;
}