@font-face {
    font-family: "montserrat bold";
    src: url(/assets/fonts/Montserrat-Bold.ttf);
    font-weight: 700;
};

@font-face {
    font-family: "montserrat extrabold";
    src: url(/assets/fonts/Montserrat-ExtraBold.ttf);
    font-weight: 800;
};

@font-face {
    font-family: "montserrat Regular";
    src: url(/assets/fonts/Montserrat-Regular.ttf);
    font-weight: 400;
};

@font-face {
    font-family: "montserrat medium";
    src: url(/assets/fonts/Montserrat-Medium.ttf);
    font-weight: 500;
};

