@use "../base/typographys";

$font-title-1-2: "montserrat bold";
$font-extrabold: "montserrat extrabold";
$font-primary: "montserrat regular";
$font-h3: "montserrat extrabold";

$color-primary: #399BF7;
$color-secondary: #D20B10;
$color-thirdary: #EBEFF3;
$color-black: #1A1423;
$color-white: #EBEFF3;
$color-btn: #1641BC;