@use "../abstracts/variables" as variable;
.btn {
    padding: 16px 0px;
    border-radius: 10px;
    width: 40%;
    background-color: variable.$color-black;
    color: variable.$color-btn;
    cursor: pointer;
    border: 3px solid white;
    font-family: "montserrat bold";
    text-align: center;
    font-size: 25px;
}


  